<% provide(:title, "Forgot password") %>
<h1>Forgot password</h1>
<div class="container-fluid">
			<div class="row">
				<div class="col-md-3">
				</div>

				<div class="col-md-6">
          <%= form_for(:password_reset, url: password_resets_path) do |e| %>

						<%= e.label :email %>
						<%= e.email_field :email, placeholder: "Email address", class: 'form-control' %>

						<%= e.submit "Submit", class: "btn btn-primary" %>
            <% end %>
				</div>

				<div class="col-md-3">
				</div>
			</div>
</div>
