<% employee ||= current_employee %>

<%= link_to(employee) do %>
<div class="photocard">
  <div class="row">
				<div class="col-md-4 photocard-photo">
          <%= image_tag(employee.photo) %>
				</div>
				<div class="col-md-8">
          <h1><%= employee.name %></h1>
          <h2><%= employee.position %></h2>
				</div>
	</div>
</div>
<% end %>
