<% provide(:title, "Edit my profile") %>
<div class="container-fluid">
	<div class="row">
    <div class="col-md-2">
		</div>
		<div class="col-md-8">
			<div class="jumbotron card card-block center profile-form">
				<%= render 'form' %>
			</div>
		</div>
    <div class="col-md-2">
		</div>
	</div>
</div>

<script type="text/javascript">
  $('#employee_photo').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 2) {
      alert('Maximum file size is 2MB. Please choose a smaller file.');
    }
  });
	$(document).on("turbolinks:load", function() {
　$("input[data-role=tagsinput], select[multiple][data-role=tagsinput]").tagsinput();
})
</script>
