<div class="facecard">
  <div class="row">
				<div class="col-md-4 facecard-photo">
          <%= image_tag(current_employee.photo) %>
          <%# <%= image_tag(@employee.photo, size: '100') %>
				</div>
				<div class="col-md-8">
          <h1><%= current_employee.name %></h1>
          <h2>My Position</h2>
				</div>
	</div>
</div>
